/* id uses # */
body{
  margin: 0;
  background: linear-gradient(to left bottom, lightblue, lightpink,lightblue);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

.container{
  background-color: rgba(255,255,255,.3);
  padding: 20px;
  box-shadow: 0 6px 10px rgba(0,0,0,0.3);
  border-radius: 20px;
  width: 88%;
  text-align: center;
  color: darkgreen;
}

.heading{
  font-size: 60px;
  font-weight: 700;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: 5px 5px 2px rgba(0,0,0,0.3);
  letter-spacing: 2px;
}

.joke{
  font-size: 40px;
  margin: 30px;
  font-weight: 400;
}

.btn{
  font-size: 25px;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  background-color: rgba(255,255,255,.3);
  border-color: rgba(0,0,0,0.6);
  /* to capitalise any letters  */
  text-transform: uppercase;
  width: 350px;
  color: darkgreen;
}

